*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

header, main, factor {
    padding: 20px;
    text-align: center;

}

header {
    background: #333;
    color: white;

}

footer {
    background: #333;
    color: white;
}

main  {
    display: flex;
    justify-content: space-between;
}

.content, .sidebar {
    width: 45%;
    padding:  20px;
    background: #f4f4f4;
}
