* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 2rem;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    background: #f7f7f7;
}

.flag-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

.frame {
    width: 100%;
    height: 100px;
}

.saffron {
    background-color: #FF9933;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.chakra-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    max-width: 80%;
    width: 80px;
    animation: rotate 4s linear infinite;
}

/* roatting animation css*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}